<div class="card-body">
    <mat-form-field style="width: 100%">
        <input matInput (change)="applyFilter($event.target.value)" placeholder="Search Users" />
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" style="width: 100%">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.username }}</td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>
        <ng-container matColumnDef="loginProvider">
            <th mat-header-cell *matHeaderCellDef>Login Provider</th>
            <td mat-cell *matCellDef="let element">{{ element.providerType }}</td>
        </ng-container>
        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef>Options</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="addAdmin(element._id, element.username)">
                    <mat-icon>add</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>