<mat-list role="list">
    <mat-list-item role="listitem">
        <button mat-button routerLink="/admin">
            <mat-icon>vpn_key</mat-icon>
            <span>Admins</span>
        </button>
    </mat-list-item>
    <mat-list-item role="listitem">
        <button mat-button routerLink="/admin/users">
            <mat-icon>supervisor_account</mat-icon>
            <span>Users</span>
        </button>
    </mat-list-item>
    <mat-list-item role="listitem">
        <button mat-button routerLink="/admin/channels">
            <mat-icon>chat</mat-icon>
            <span>Channels</span>
        </button>
    </mat-list-item>
    <mat-list-item role="listitem">
        <button mat-button routerLink="/admin/live-streaming">
            <mat-icon>videocam</mat-icon>
            <span>Live Streaming</span>
        </button>
    </mat-list-item>
    <mat-list-item role="listitem">
        <button mat-button routerLink="/admin/videos">
            <mat-icon>video_library</mat-icon>
            <span>Videos</span>
        </button>
    </mat-list-item>
    <mat-list-item role="listitem">
        <button mat-button routerLink="/admin/hints">
            <mat-icon>wb_incandescent</mat-icon>
            <span>Hints</span>
        </button>
    </mat-list-item>
    <mat-list-item role="listitem">
        <button mat-button routerLink="/admin/policies">
            <mat-icon>policy</mat-icon>
            <span>Legal Policies</span>
        </button>
    </mat-list-item>
    <mat-list-item role="listitem">
        <button mat-button routerLink="/admin/site-settings">
            <mat-icon>build</mat-icon>
            <span>Site Settings</span>
        </button>
    </mat-list-item>
</mat-list>