div.members-registered,
div.members-online,
div.channels,
div.texts {
    padding: 5px 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
}

div.members-registered {
    background-color: #20a8d8;
}

div.members-online {
    background-color: #63c2de;
}

div.channels {
    background-color: #ffc107;
}

div.texts {
    background-color: #f86c6b;
}

span.number {
    display: block;
    color: #fff;
    font-size: 18px;
}

span.desc {
    color: #fff;
}
