<mat-card class="mat-card-custom">
    <div class="card-title">Top Viewers</div>
    <div class="card-body">
        <mat-form-field style="width: 100%">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search..." />
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" style="width: 100%">
            <ng-container matColumnDef="avatar">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-icon>account_circle</mat-icon>
                </th>
                <td mat-cell *matCellDef="let element">
                    <img style="max-width: 20px; border-radius: 100%" [src]="element.avatar" alt="" />
                </td>
            </ng-container>
            <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{ element.user }}</td>
            </ng-container>
            <ng-container matColumnDef="views">
                <th mat-header-cell *matHeaderCellDef>Views</th>
                <td mat-cell *matCellDef="let element">{{ element.views }}</td>
            </ng-container>
            <ng-container matColumnDef="git">
                <th mat-header-cell *matHeaderCellDef>Git</th>
                <td mat-cell *matCellDef="let element">Profile</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</mat-card>