<footer>
    <div class="home-footer">
        <div class="max-container">
            <div class="text-sm">
                <p>Code Crow Corp © 2022</p>
            </div>

            <div class="home-footer-links social-icons">
                <a class="github" href="https://github.com/CodeCrowCorp" target="_blank" rel="noreferrer"></a>
                <a class="discord" href="https://discord.gg/CodeCrow" target="_blank" rel="noreferrer"></a>
                <a class="twitter" href="https://twitter.com/codecrowcorp" target="_blank" rel="noreferrer"></a>
                <a class="magiceden" href="https://magiceden.io" target="_blank" rel="noreferrer"></a>
            </div>
        </div>
    </div>
</footer>