/*-----------------------------------------------
                   BUttons
-----------------------------------------------*/
.btn {
    &.btn-md {
        padding: 0.7rem 1.6rem;
        font-size: 1rem;
        @media (max-width: 767px) {
            padding: 8px 6px;
            font-size: 0.7rem;
            font-size: 0.8rem;
        }
    }
    &.btn-primary {
        background: $bg-gradient !important;

        color: $colorWhite !important;
        border: none !important;
        i {
            vertical-align: middle;

            margin-top: -4px;
            margin-right: 4px;
        }
    }
}
