/*-----------------------------------------------
                   Variables
-----------------------------------------------*/
$colorWhite: #fff;
$colorPurple: #c5198b;

$colorGray: #2e363b;

$linesColor: #dbdbdb;
$categoryTitleColor: #686868;
$categoryEntityColor: #3f3f3f;

$bgBlue: #eeefff;
$bgPink: #ffeef8;

$bg-gradient: linear-gradient(30.29deg, #ec008c 7.67%, #2b328c 92.33%), #000000;
$bg-gradient-purple: linear-gradient(0deg, #ec008c 0%, #2b328c 100%), #ffffff;
$bg-gradient-red: linear-gradient(0deg, #ff8e4b 0%, #ec4075 100%), #ffffff;
$bg-gradient-green: linear-gradient(0deg, #a1c64d 0%, #149280 100%), #ffffff;
$sidebar-item-border: #e3ebf6;
