<div class="panel-content custom-scroll panel-background-color" (scroll)="onScrollUsers($event)"
    *ngIf="userService.isUsersEnabled" [@reverseInOutAnimation] id="clickOutside">
    <div class="panel-title">
        Community
        <button mat-icon-button (click)="onNoClick()" class="close">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="panel-body">
        <app-community></app-community>
    </div>
</div>
<div [ngClass]="{ panel: userService.isUsersEnabled }" (click)="onNoClick()"></div>