.carousel-slider {
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, calc(33%));
    grid-template-rows: minmax(15rem, 1fr);
    width: 100%;
    padding-top: 0.5rem;
    grid-gap: 1.5rem;
    transition: all 0.25s ease;
    overflow-x: visible;
    left: -33%;

    &::-webkit-scrollbar {
        display: none !important;
    }
    @media (min-width: 320px) and (max-width: 767px) {
        grid-template-columns: repeat(5, 65%);
        grid-gap: 0rem;
        left: -112.5%;
        padding: 1rem 0;
        :first-child,
        :last-child {
            margin: 0;
        }
    }
}
