mat-card {
    margin-top: 25px;
    padding: 0;
    overflow: hidden;
}

div.info,
div.graph {
    padding: 16px;
}

div.graph {
    width: 100%;
}

div.info {
    margin-bottom: 10px;
}

span.title {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

span.date {
    color: #666;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.6;
}

div.brief-insights span {
    position: relative;
    top: -5px;
    left: 10px;
}
