.attachment-elevation-spacing {
    z-index: 4;
    position: absolute;
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
}

.videos-elevation-spacing {
    z-index: 2;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
}

.app-chat-container {
    min-width: 100%;
    height: 100%;
}

.app-chat {
    &-section {
        // display: flex;
        // flex-flow: column;
        // height: 100vh;
        display: block;
        height: 100%;
        width: 100%;
    }
    &-messages-holder {
        height: 68%;
        padding: 10px 10px 0px 0px;
        overflow-y: auto;
        overflow-x: hidden;
        @media (max-width: 576px) {
            height: 70%;
            width: 100%;
            margin: 12px;
        }
        position: relative;
        top: 75px;
    }

    &-message-row {
        margin-bottom: 10px;
        width: 100%;
    }

    &-message-row > * {
        width: 100%;
    }

    &-input-holder {
        position: absolute;
        bottom: 0px;
        right: 0px;
        height: 32px;
        width: 100%;
        padding-left: 10px !important;
        @media (max-width: 576px) {
            width: 96%;
        }
    }
}

.app-chat-input {
    display: flex;
    flex-direction: column;
    margin: 0px !important;
    padding-right: 30px !important;
    padding-left: 10px !important;
}

.app-mesage-input-content {
    color: azure;
    width: -webkit-calc(100% - 45px);
    width: -moz-calc(100% - 45px);
    width: calc(100% - 45px);
    padding: 3px !important;
    float: left;
    @media (max-width: 576px) {
        width: -webkit-calc(100% - 65px);
        width: -moz-calc(100% - 65px);
        width: calc(100% - 65px);
    }
}

.app-message-send-btn {
    position: absolute;
    right: 5px;
    width: 60px;
    height: 55px;
    float: left;
    margin: 0px !important;
    border: 0px !important;
    @media (max-width: 576px) {
        right: 25px;
    }
}

.channel-info h3,
.channel-info p {
    text-align: center;
}

.channel-info {
    position: relative;
}

div.buttons {
    position: relative;
    width: 100%;
}

.channel-info button.settings-button {
    margin-left: 5px;
}

.channel-info button {
    outline: none;
    margin-right: 10px;
}

.exit-button {
    float: right;
}

.app-chat-title {
    font-size: 21px;
    margin-bottom: 0px;
}

.md-form {
    margin-top: 100px;
    margin-bottom: 0px;
}

.input-container {
    width: 100%;
}

.channel-name {
    width: 100%;
}

.app-chat-button {
    color: white;
    background: #2980b9;
    margin-left: 25px;
}

.channel-button {
    width: 25px;
    height: 25px;
    display: inline-block;
    background-repeat: no-repeat;
}

.duration-spacing {
    margin-right: 50px;
}

.index-spacing {
    margin-right: 5px;
}

.video-part-title {
    color: red;
    margin-left: 10px;
}

.video-part-title-loading {
    display: flex;
    align-items: center;
}

.video-download-list {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    background-color: #eceff1;
    border-bottom: #dae2ec solid 1px;
}

.show-cursor:hover {
    cursor: pointer;
}

.show-download-video {
    z-index: 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background: #eceff1;
    border-bottom: #dae2ec solid 1px;
}

.chat-download-video {
    margin-right: 10px;
}

.menu-trigger-btn {
    position: absolute;
    top: 0;
    right: 0;
    i {
        cursor: pointer;
        width: 28px;
        height: 28px;
        display: inline-block;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 6px;
    }
}

section.user-menu-toggle::after,
section.user-menu-toggle::before {
    display: none !important;
}
.user-menu-toggle {
    font-size: 12px;
    padding-top: 10px !important;
    cursor: auto;
    position: relative;
    .reaction__emoji__cnt {
        // padding: 6px;
        background: #eceff1;
        position: absolute;
        top: -20px;
        left: 4px;
        border-radius: 50%;
        font-size: 18px;
        width: 30px;
        height: 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}

.w-mc {
    width: max-content;
}
.text-right {
    text-align: right;
}
