mat-card {
    margin-top: 25px;
    padding: 0;
    overflow: hidden;
}

div.card-title {
    font-size: 14px;
    padding: 5px 15px;
    background-color: #f0f3f5;
    color: #333;
}

th {
    font-weight: bold;
}

td {
    color: #333;
}

.app-admin-users-channel {
    word-wrap: break-word;
}
