<div class="app-not-found-container">
    <div class="row justify-content-center">
        <mat-icon class="app-not-found-icon" [inline]="true">warning</mat-icon>
    </div>
    <div class="row justify-content-center">
        <h2 class="app-not-found-message">404<br />page not found</h2>
    </div>
    <div class="row justify-content-center">
        <a href="/" mat-raised-button class="btn btn-primary" rounded="true" type="button">
            <mat-icon>home</mat-icon>
            Go back home
        </a>
    </div>
</div>