.app-container {
    height: 100vh;
    overflow-y: auto;
}

h3.page-title {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    text-align: center;
}

.app-payment-methods {
    height: 94%;
}

.app-settings-email {
    margin-right: 15px;
    margin-left: -15px;
}

h6 {
    margin: 20px 0;
}
