.profile-container {
    .customUsername {
        color: #ec008c;
    }

    .grid-view {
        display: none;

        @media (min-width: 320px) and (max-width: 767px) {
            display: block;
        }
    }

    .list-view {
        display: block;
        width: auto;
        min-width: fit-content;
        max-height: 270px;
        @media (min-width: 320px) and (max-width: 767px) {
            display: none;
        }
    }

    .app-channels-holder {
        width: calc(100vw - 350px);

        @media (min-width: 320px) and (max-width: 767px) {
            width: 100vw;
        }
        .framework-icons {
            border-radius: 8px;
        }
        .app-search-bar {
            input {
                font-size: 14px;
                font-weight: 500;
                line-height: 16px;
                padding: 0px;
            }
            .app-search-btn {
                cursor: pointer;
            }
        }
        .header-search {
            margin-left: 0 !important;
            margin-right: 0 !important;
            margin-bottom: 20px;
            grid-gap: 5px;
            // height: 76px;
            display: flex;
            // padding: 0 0 0 16px;
            @media (min-width: 320px) and (max-width: 767px) {
                position: relative !important;
                left: 0 !important;
                top: 0 !important;
                padding: 0 12px !important;
                height: auto !important;
                top: 0 !important;
                display: grid;
                grid-template-columns: 1fr 59px;
                grid-gap: 8px;
                border: none !important;
                &.stick-top {
                    position: fixed !important;
                    top: 0 !important;
                    animation: slideDown 0.5s ease-in-out;
                    width: 100% !important;
                    padding: 0.5rem !important;
                }
            }
            button {
                @media (min-width: 320px) and (max-width: 767px) {
                    margin: 0 !important;
                    padding: 0 10px !important;
                    font-size: 16px;
                    grid-column: 1/3;
                    width: 95% !important;
                    justify-self: center;
                }
                img {
                    @media (min-width: 767px) and (max-width: 1023px) {
                        display: none;
                    }
                }
            }
            .search-area {
                height: 44px;
                opacity: 0.99;
                margin: 0;
                width: 354px;
                @media (min-width: 320px) and (max-width: 767px) {
                    width: 100%;
                }
                @media (min-width: 767px) and (max-width: 1023px) {
                    width: 220px;
                }
                @media (min-width: 1024px) and (max-width: 1120px) {
                    width: 275px;
                }
            }
        }
        .app-channels-container {
            // padding: 0px 8px 25px 8px;
            margin-left: 0;

            @media (min-width: 320px) and (max-width: 767px) {
                flex-direction: row;
                flex-wrap: nowrap;
                overflow-x: auto;
                padding: 0;
                // margin: 0 1rem;
                margin: 0;
            }
            > div {
                @media (min-width: 320px) and (max-width: 767px) {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
        .hosted-channels {
            font-size: 23px;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: 0.35px;
            margin-bottom: 16px;
        }
        .app-channels-container.list-channel-container {
            width: 100%;
            height: 100%;
            overflow-x: auto;
            @media (min-width: 320px) and (max-width: 767px) {
                padding-left: 0;
            }
            .channel-list-table {
                width: 100%;
                min-width: 1565px;
                .channel-list-header {
                    cursor: pointer;
                    display: grid;
                    grid-template-columns: 0.8fr 1fr 1.5fr 0.7fr 218px 1fr;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 40px;
                    margin: 0 0 10px;
                    th {
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 34px;
                        padding: 0 20px;
                    }
                }
                .channel-list-row {
                    font-size: 14px;
                    height: 70px;
                    align-items: center;
                    cursor: pointer;
                    margin-bottom: 5px;
                    > tr {
                        white-space: nowrap;
                        display: block;
                        text-overflow: ellipsis;
                        line-height: 30px;
                        position: relative;
                        padding-left: 20px;
                        padding-right: 20px;
                        height: 30px;
                        position: relative;
                        &:first-child {
                            border-left: none;
                        }
                        &:last-child {
                            &:before {
                                display: none;
                            }
                        }
                        div.ab-v-m {
                            left: 20px;
                            right: 20px;
                            display: flex;
                            align-items: center;
                            span {
                                &:last-child {
                                    margin-right: 0 !important;
                                }
                            }
                        }
                        .channel-tag {
                            background: rgba(65, 45, 140, 0.8);
                            border-radius: 10px;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 24px;
                            color: #ffffff;
                            display: inline-block;
                            padding: 0px 12px;
                            border-radius: 13px;
                            height: 24px;
                        }
                        .badge-live {
                            color: #ba0000;
                            font-weight: bold;
                            font-size: 13px;
                            border: 1px solid #ba0000;
                            box-sizing: border-box;
                            border-radius: 10px;
                            width: auto;
                            height: 24px;
                            padding: 0px 11px 0px 11px;
                            display: inline-block;
                            line-height: 24px;
                        }
                    }
                    &:nth-child(odd) {
                        box-sizing: border-box;
                    }
                    .channel-icon {
                        width: 40px;
                        height: 40px;
                        text-align: center;
                        border: 1px solid #c1cdde;
                        line-height: 32px;
                        border-radius: 100%;
                        margin-right: 9px;
                        font-size: 24px;
                        vertical-align: middle;
                        display: inline-block;
                        background-position: center center;
                        background-size: 19px;
                        background-repeat: no-repeat;
                        margin-right: 7px;
                    }
                }
            }
        }
    }
    .following-wrapper {
        padding: 0;
    }
}

.row {
    //--bs-gutter-x: 0.15rem;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.menu-icon {
    font-size: 20px !important;
}

.tech-stack-icons {
    width: 25px;
    height: 25px;
    margin: 5px;
}

.profile-chat {
    width: 35px;
    height: 35px;
    display: block;
}

.social-tech-icons {
    .framework-icons {
        background: #f7f7f700;
    }
}
