<mat-drawer-container autosize>
    <mat-drawer position="start" mode="side" opened>
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content style="padding: 20px 10px">
        <div *ngIf="videos && videos.length">
            <app-admin-video-insights [videos]="videos"></app-admin-video-insights>

            <app-admin-video-statistics [videos]="videos"></app-admin-video-statistics>

            <app-admin-video-table></app-admin-video-table>
        </div>
    </mat-drawer-content>
</mat-drawer-container>