video::-webkit-media-controls-play-button,
video::-webkit-media-controls-pausebutton {
    display: none;
}

        


.media-container {
    position: relative;
    max-height: calc(100% - 100px - 2.5rem);
    overflow-y: scroll;
    @media (max-width: 767px) {
        overflow-y: unset;
    }
    #screen_container {
        // display: grid;
        // grid-template-columns: repeat(2, minmax(min-content, max-content));
        // grid-gap: 0.2rem;
        height: 100%;
        width: 100%;
        justify-content: center;
        justify-items: center;
        video {
            width: 100%;
            height: 100%;
            // max-height: 500px;
            object-fit: cover;
            }
        @media (max-width: 767px) {
            position: relative;
            max-height: unset;
            display: flex;
            flex: none;
            flex-wrap: nowrap;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            justify-content: unset;
            &::-webkit-scrollbar {
                display: none !important;
            }
        }
        
    }
    .navigation {
        display: none;
        @media (max-width: 767px) {
            display: flex;
        }
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 0;
        width: 100%;
        justify-content: space-between;
        transform: translate(0, -50%);
        button {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 100%;
            border: none;
            background: linear-gradient(90deg, #ec008c 0%, #2b328c 100%);
            position: relative;
            &::after {
                z-index: 1;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                content: '';
                position: absolute;
                background: url(/assets/images/arrow-light.svg) no-repeat center center;
                background-size: 1rem;
            }
            &:first-child::after {
                transform: rotate(180deg);
            }
        }
    }
}

.hint-container {
    height: 100%;
    height: calc(100vh - 406px);
    span {
        color: gray;
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
    }
}
