<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="stats-box all-videos">
            <div class="info">
                <span class="number">{{ videos.length }}</span>
                <span class="desc">All Videos</span>
            </div>
            <!-- <div style="display: block;">
        <canvas baseChart height="70" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
      </div> -->
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="stats-box most-viewed">
            <div class="info">
                <span class="number">{{ videos.length }}</span>
                <span class="desc">Most Viewed Video</span>
            </div>
            <!-- <div style="display: block;">
        <canvas baseChart height="70" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
      </div> -->
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="stats-box total-views">
            <div class="info">
                <span class="number">{{ totalViews }}</span>
                <span class="desc">Total Views</span>
            </div>
            <!-- <div style="display: block;">
        <canvas baseChart height="70" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
      </div> -->
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="stats-box total-watch-time">
            <div class="info">
                <span class="number">{{ totalWatchTime || 0 }}</span>
                <span class="desc">Total Watch Time</span>
            </div>
            <!-- <div style="display: block;">
        <canvas baseChart height="70" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
      </div> -->
        </div>
    </div>
</div>