<app-creator-sidenav></app-creator-sidenav>

<div class="settings-container pb-5 pt-3">
    <div class="max-container pb-5">
        <mat-card class="mat-card-custom">
            <div class="card-title">Your Recent Activity</div>
            <div class="card-body" style="padding-top: 0">
                <div class="info">
                    <span class="title">Live Streaming Activity - All Channels</span>
                    <!-- <span class="date">{{ momentDate }}</span> -->
                </div>
                <div class="graph" style="display: block">
                    <!-- <canvas baseChart height="250px" [datasets]="lineChartData" [labels]="lineChartLabels"
                        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                        [chartType]="lineChartType"></canvas> -->
                </div>
            </div>
        </mat-card>
        <mat-card class="mat-card-custom">
            <div class="card-title" style="margin-bottom: 0">Your Activity Insights</div>

            <div class="card-body" style="padding: 0 10px 10px 10px">
                <div class="col-sm-8" *ngIf="!channelObj">
                    <mat-card class="mat-card-custom">
                        <div class="card-title">All Channels</div>
                        <div class="card-body p-0">
                            <div class="header-search m-4">
                                <div class="app-search-bar">
                                    <input type="search" (keyup)="applyFilter($event.target.value)"
                                        placeholder="Search..." />
                                    <span class="material-icons"> search </span>
                                </div>
                            </div>
                            <div class="mat-table-container border-0">
                                <table mat-table [dataSource]="dataSource" style="width: 100%">
                                    <ng-container matColumnDef="title">
                                        <th mat-header-cell *matHeaderCellDef>Title</th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element.title }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="lastStreamTimestamp">
                                        <th mat-header-cell *matHeaderCellDef>Last Stream Date</th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element.lastStreamTimestamp | date: 'short' }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="options">
                                        <th mat-header-cell *matHeaderCellDef>Options</th>
                                        <td mat-cell *matCellDef="let element">
                                            <button mat-icon-button (click)="showChannel(element)">
                                                <mat-icon>menu</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                                </table>
                            </div>
                        </div>
                    </mat-card>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>

                <div class="col-sm-8" [hidden]="!channelObj">
                    <mat-card class="mat-card-custom">
                        <div class="card-title" style="padding-bottom: 0">
                            <mat-icon (click)="back()" style="cursor: pointer">keyboard_arrow_left</mat-icon>
                            <span style="position: relative; top: -6px; left: 10px">Channel
                                <strong>{{
                                    channelObj && channelObj.channel ? channelObj.channel.title : ''
                                    }}</strong>
                                Insights</span>
                        </div>
                        <div class="card-body p-0">
                            <div class="p-4">
                                <div class="row brief-insights">
                                    <div class="col-sm-3">
                                        <div class="stats-box all-videos">
                                            <span class="number">{{
                                                channelObj && channelObj.liveStreams
                                                ? channelObj.liveStreams.length
                                                : ''
                                                }}</span>
                                            <span class="desc">Today</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="stats-box all-videos">
                                            <span class="number">{{
                                                totalStreamingTime | number: '1.0-0'
                                                }}
                                                (s)</span>
                                            <span class="desc">Week</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="stats-box all-videos">
                                            <span class="number">{{
                                                uniqueParticipantsCount
                                                }}</span>
                                            <span class="desc">Month</span>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="stats-box all-videos">
                                            <span class="number">{{ avgStreamingTime | number: '1.0-0' }} (s)</span>
                                            <span class="desc">All Time</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="row analytics-buttons">
            <div class="col-3"><button mat-button>Today</button></div>
            <div class="col-3"><button mat-button>Week</button></div>
            <div class="col-3"><button mat-button>Month</button></div>
            <div class="col-3"><button mat-button>All Time</button></div>
          </div> -->

                            <div>
                                <div class="header-search mb-3 m-4">
                                    <div class="app-search-bar">
                                        <input type="search" (keyup)="streamApplyFilter($event.target.value)"
                                            placeholder="Search..." />
                                        <span class="material-icons"> search </span>
                                    </div>
                                </div>

                                <div class="mat-table-container border-0">
                                    <table mat-table [dataSource]="streamsDatasource" style="width: 100%">
                                        <ng-container matColumnDef="title">
                                            <th mat-header-cell *matHeaderCellDef>Title</th>
                                            <td mat-cell *matCellDef="let element">
                                                {{ element.title }}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="duration">
                                            <th mat-header-cell *matHeaderCellDef>Duration</th>
                                            <td mat-cell *matCellDef="let element">
                                                {{ element.duration }} (s)
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="startDate">
                                            <th mat-header-cell *matHeaderCellDef>Start Date</th>
                                            <td mat-cell *matCellDef="let element">
                                                {{ element.startDate | date: 'short' }}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="endDate">
                                            <th mat-header-cell *matHeaderCellDef>End Date</th>
                                            <td mat-cell *matCellDef="let element">
                                                {{ element.endDate | date: 'short' }}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="participants">
                                            <th mat-header-cell *matHeaderCellDef>Participants</th>
                                            <td mat-cell *matCellDef="let element">
                                                {{ element.participants.length }}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="options">
                                            <th mat-header-cell *matHeaderCellDef>Options</th>
                                            <td mat-cell *matCellDef="let element">
                                                <button mat-icon-button (click)="showStream(element)">
                                                    <mat-icon>menu</mat-icon>
                                                </button>
                                            </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="streamDisplayedColumns"></tr>
                                        <tr mat-row *matRowDef="
												let row;
												columns: streamDisplayedColumns
											"></tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>

                <div class="col-sm-8" [hidden]="!streamObj">
                    <mat-card class="mat-card-custom">
                        <div class="card-title">
                            Streaming
                            <strong>{{ streamObj ? streamObj.title : '' }}</strong> Insights
                        </div>
                        <div class="card-body p-0">
                            <div class="mx-4 mt-4">
                                <div class="row brief-insights">
                                    <div class="col-sm-3">
                                        <div class="stats-box">
                                            <mat-icon>group</mat-icon>
                                            <span class="number">{{
                                                streamObj && streamObj.participants
                                                ? streamObj.participants.length
                                                : ''
                                                }}</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="stats-box">
                                            <mat-icon>watch_later</mat-icon>
                                            <span class="number">
                                                {{ streamObj ? streamObj.duration : '' }} (s)
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="stats-box">
                                            <mat-icon>access_time</mat-icon>
                                            <span class="number">
                                                {{ streamObj ? streamObj.avgWatchTime : '' }} (s)
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="stats-box">
                                            <mat-icon>star_rate</mat-icon>
                                            <span class="number">
                                                {{ streamObj ? streamObj.avgRate : '' }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="header-search mb-3 m-4">
                                    <div class="app-search-bar">
                                        <input matInput (keyup)="participantsApplyFilter($event.target.value)"
                                            placeholder="Search..." />
                                        <span class="material-icons"> search </span>
                                    </div>
                                </div>

                                <div class="mat-table-container border-0">
                                    <table mat-table [dataSource]="streamParticipantsDatasource" style="width: 100%">
                                        <ng-container matColumnDef="username">
                                            <th mat-header-cell *matHeaderCellDef>Username</th>
                                            <td mat-cell *matCellDef="let element">
                                                {{ element.username }}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="duration">
                                            <th mat-header-cell *matHeaderCellDef>Duration</th>
                                            <td mat-cell *matCellDef="let element">
                                                {{ element.duration }} (s)
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="startDate">
                                            <th mat-header-cell *matHeaderCellDef>Start Time</th>
                                            <td mat-cell *matCellDef="let element">
                                                {{ element.startDate | date: 'mediumTime' }}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="endDate">
                                            <th mat-header-cell *matHeaderCellDef>End Time</th>
                                            <td mat-cell *matCellDef="let element">
                                                {{ element.endDate | date: 'mediumTime' }}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="rate">
                                            <th mat-header-cell *matHeaderCellDef>Rating</th>
                                            <td mat-cell *matCellDef="let element">
                                                {{ element.rate }}
                                            </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="
												streamParticipantsDisplayedColumns
											"></tr>
                                        <tr mat-row *matRowDef="
												let row;
												columns: streamParticipantsDisplayedColumns
											"></tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
            </div>
        </mat-card>
    </div>
</div>