mat-card {
    margin-top: 25px;
    padding: 0;
    overflow: hidden;
}

div.graph {
    width: 100%;
}

div.title {
    margin-bottom: 15px;
}

.hide {
    visibility: hidden;
    width: 0;
    height: 0;
}
