.app-maintenance {
    height: 100%;
    width: 100%;
    background-color: #25252a;
}

.app-maintenance-container {
    height: 100%;
    width: 70%;
    top: 25%;
    left: 15%;
    position: relative;
}

.app-maintenance-icon {
    font-size: 50px;
    color: #cccc00;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 30px;
}

.app-maintenance-message {
    text-align: center;
    font-size: x-large;
    font-weight: 300 !important;
    margin-bottom: 0 !important;
    color: white;
}
