.carousel-card-container {
    position: relative;
    opacity: 0.5;
    transition: all 0.8s ease;
    scroll-snap-align: center;
    min-height: 100%;
    transform: scale(0.9);
    &.active {
        transform: scale(1);

        @media (min-width: 320px) and (max-width: 767px) {
            .controls {
                display: block !important;
                span {
                    opacity: 1;
                }
            }
        }
    }
    &:hover,
    &.active {
        opacity: 1;
        .metadata {
            height: auto;
            padding: 0.5rem;
            opacity: 1;
            @media (min-width: 320px) and (max-width: 767px) {
                padding: 0.5rem;
            }
        }
    }

    &.active:hover {
        .controls {
            display: block !important;
            span {
                opacity: 1;
            }
        }
    }

    .cover-img {
        width: 100%;
        min-height: 10rem;
        img {
            width: 100%;
            max-height: 200px;
            object-fit: cover;
        }

        .techgroup {
            width: 100%;
            height: 100%;
            display: grid;
            grid-gap: 10px;
            grid-template-rows: 7rem;
        }
        .avatar-item {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .metadata {
        position: absolute;
        bottom: 0;
        left: 0;
        background: #fafbfc;
        width: 100%;
        height: 0;
        max-height: 50%;
        padding: 0;
        border: 1px solid #ccced0;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        transition: all 250ms ease;
        overflow: hidden;
        opacity: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        .channel-info {
            width: 66.6%;
        }
        .text-right {
            text-align: right;
            width: 33.4%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
        }
        .title {
            font-size: 18px;
            font-weight: 600;
            line-height: 18px;
            cursor: pointer;
            max-width: 95%;
            overflow: hidden;
            text-overflow: ellipsis;
            @media (min-width: 320px) and (max-width: 767px) {
                font-size: 10px;
            }
        }
        .desc {
            font-size: 14px;
            font-weight: 500;
            line-height: 23px;
            max-width: 95%;
            overflow: hidden;
            text-overflow: ellipsis;
            @media (min-width: 320px) and (max-width: 767px) {
                font-size: 8px;
            }
        }
        .host {
            display: grid;
            grid-template-columns: repeat(2, auto);
            justify-content: start;
            align-items: center;
            grid-gap: 0.3rem;
            margin-top: 0.25rem;
            max-width: 95%;
            overflow: hidden;
            text-overflow: ellipsis;
            @media (min-width: 320px) and (max-width: 767px) {
                grid-gap: 0.2rem;
            }

            img {
                width: 40px;
                height: 40px;
                border-radius: 100%;

                @media (min-width: 320px) and (max-width: 767px) {
                    width: 20px;
                    height: 20px;
                }
            }

            div {
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;
                overflow: hidden;
                text-overflow: ellipsis;
                @media (min-width: 320px) and (max-width: 767px) {
                    font-size: 8px;
                }
            }
        }
        .tags {
            display: inline-flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            position: relative;
            align-items: flex-end;
            max-width: 250%;
            &::-webkit-scrollbar {
                display: none;
            }
            @media (min-width: 320px) and (max-width: 767px) {
                margin-top: 0;
                margin-bottom: 0;
            }
            span {
                background: rgba(65, 45, 140, 0.8);
                border-radius: 10px;
                font-weight: 700;
                font-size: 14px;
                height: 24px;
                line-height: 24px;
                color: #fff;
                display: inline-block;
                padding: 0 12px;
                margin: 0 3px;

                @media (min-width: 320px) and (max-width: 767px) {
                    font-size: 8px;
                    height: 14px;
                    line-height: 14px;
                }
            }
        }

        .info {
            height: 37px;
            .channel-icon {
                width: 30px;
                height: 30px;
                text-align: center;
                background-position: center;
                line-height: 22px;
                border-radius: 100%;
                margin-right: 15px;
                vertical-align: middle;
                display: inline-block;
                background-size: 14px;
                background-repeat: no-repeat;
                @media (min-width: 320px) and (max-width: 767px) {
                    width: 22px;
                    height: 22px;
                    line-height: 17px;
                    background-size: 10px;
                    margin-right: 5px;
                }
                &.locked {
                    margin-right: 0;
                }
            }

            .channel-number {
                margin-right: 15px;
                font-size: 14px;
                font-weight: 600;
                line-height: 24px;

                @media (min-width: 320px) and (max-width: 767px) {
                    font-size: 8px;
                    margin-right: 5px;
                }
            }
        }

        .tech-stack {
            max-width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            &::-webkit-scrollbar {
                display: none;
            }
            height: 37px;
            img {
                width: 28px;
                height: 28px;
                margin: 0 0.25rem;

                @media (min-width: 320px) and (max-width: 767px) {
                    width: 15px;
                    margin: 0 0.15rem;
                }
            }
        }

        .channel-icon {
            width: 24px;
            height: 24px;
            text-align: center;
            background-repeat: no-repeat;
            background-position: center;
            line-height: 28px;
            border-radius: 100%;
            margin-right: 15px;
            font-size: 14px;
            vertical-align: middle;
            display: inline-block;
            background-size: 19px;
            background-repeat: no-repeat;
            @media (min-width: 320px) and (max-width: 767px) {
                width: 20px;
                height: 20px;
            }
        }
    }
    .controls {
        display: none;
        span {
            width: 40px;
            height: 40px;
            background-size: cover !important;
            cursor: pointer;
            position: absolute;
            bottom: 50%;
            opacity: 0;
            transition: opacity 250ms ease;

            @media (min-width: 320px) and (max-width: 767px) {
                width: 25px;
                height: 25px;
            }

            &.prev {
                left: -20px;
                background: url(/assets/images/controls-prev.svg);

                @media (min-width: 320px) and (max-width: 767px) {
                    left: -10px;
                }
            }
            &.next {
                right: -20px;
                background: url(/assets/images/controls-next.svg);

                @media (min-width: 320px) and (max-width: 767px) {
                    right: -10px;
                }
            }
        }
    }
}
