<div class="mt-dialog-container">
    <h2 mat-dialog-title>Password Required</h2>
    <button mat-icon-button mat-dialog-close class="close">
        <mat-icon>close</mat-icon>
    </button>
    <mat-dialog-content>
        <form [formGroup]="passwordDialogForm" mat-dialog-content>
            <span class="app-password-dialog-title">
                <strong>{{ data.channel.title }}</strong>
            </span>
            <div class="app-password-dialog-description">
                {{ data.channel.description }}
            </div>
            <div class="app-password-dialog-name app-password-dialog-name-padding">
                <img class="app-password-dialog-avatar" [src]="data.channel.avatar" alt="channel_avatar" />
                <span>{{ data.channel.createdBy }}</span>
            </div>
            <div>
                <mat-form-field class="app-password-dialog-password" appearance="outline">
                    <input #passwordInput matInput placeholder="Enter password" formControlName="password"
                        [maxLength]="26" autofocus (keyup.enter)="enterPassword()" />
                </mat-form-field>
                <div class="alert alert-danger" *ngIf="error.message" style="margin: 10px 0 20px 0">
                    {{ error.message }}
                </div>
            </div>
        </form>
    </mat-dialog-content>
    <div mat-dialog-actions class="justify-content-center mt-4 mb-0">
        <button mat-raised-button mat-dialog-close class="btn-cancel">Cancel</button>
        <button mat-raised-button class="btn btn-primary" (click)="enterPassword()">Ok</button>
    </div>
</div>